.root{
    margin: 15vh auto 5vh auto;
    text-align: center;
    
}
.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.footer{
    position: fixed;
    left: 50%;
    bottom: 10px;
    width: 90%;
    transform: translateX(-50%);
display: flex;
justify-content: space-around;
}
.buttonsContainer{
    width: 25%;
    display: flex;
    justify-content: space-around;
}